body {
  background-color: #7b4019;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  text-align: justify;
  font-size: 20px;
  -webkit-text-stroke: 0.5px white;
}
